<div class="row center">
  <div class="input-field">
    <label for="user">
      <input type="text" id="user" (input)="handleSearchChange($event)" />
    </label>
  </div>
  <!--  -->
  <button class="btn btn-primary" id="search" (click)="handleClick()">
    Search
  </button>
</div>

<!-- Section user info -->
<div class="user-info" *ngFor="let user of users">
  <img class="avatar-user" [src]="user.avatar_url" alt="avar" />

  <div class="bio-user">
    {{ user.name }}
    <br />
    {{ user.login }}
    <br />
    {{ user.bio }}
  </div>

  <!-- Fazer link para seguidores e quem o usuario esta seguindo -->
  <div class="">
    <ul>
      <li>followers</li>
      <li>following</li>
    </ul>
  </div>
  <!-- Mostrar um lista com company, location, email -->
  <div>
    <ul>
      <li>Company</li>
      <li>Location</li>
      <li>Email</li>
    </ul>
  </div>
</div>
