<header class="header">
  <div class="input-field">
    <label for="input-user">
      <input
        id="input-user"
        type="text"
        (input)="handleSearchChange($event)"
        placeholder="Search User"
      />
    </label>

    <button class="btn btn-primary" id="search" (click)="handleClick()">
      {{ btnSearch }}
    </button>
  </div>
</header>

<!-- Section user info -->
<div class="card-user" *ngFor="let user of users">
  <img class="avatar-user" [src]="user.avatar_url" alt="avar" />

  <div class="profile-user">
    <div class="card-names">
      <h1>
        <span>
          {{ user.name }}
        </span>
      </h1>

      <h4>{{ user.login }}</h4>

      <h5>{{ user.bio }}</h5>
    </div>

    <div class="card-follow">
      <div>
        <a href="#">{{ user.followers }} <span>followers</span></a>
        <span> . </span>
        <a href="#">{{ user.following }} <span>following</span></a>
      </div>

      <div class="details">
        <ul>
          <li>{{ user.company }}</li>
          <li>{{ user.location }}</li>
          <li><a href="#">{{user.repos_url}}</a></li>
          <li><span>Public Repositories: </span>{{ user.public_repos }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
