/* You can add global styles to this file, and also import other style files */
:root{
  --color-background: #f0f0f7;
}

/* Reset CSS */
 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}
